*
body{   
              display              : flex;
              justify-content      : center;  
              font-family          : "Roboto", sans-serif; 
              color: rgb(47, 52, 52);  
}
.container-top{
              background-color: rgb(123, 185, 240);
}
.location{
              border: 2px solid rgb(26, 30, 116);
}
.wearther{
              border: 2px solid rgb(26, 30, 116);
              text-align           : center;
              justify-content      : center; 
}
.button{
              background-color: rgb(76, 91, 228);
              border-radius: 15px;
              text-align: center;   
              
}